---
Language: Cpp
BasedOnStyle: Google

ColumnLimit: 100

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: 'knng/*'
    Priority: 7
  - Regex: 'anns/*'
    Priority: 6
  - Regex: 'cub/*'
    Priority: 5
  - Regex: 'cuda*'
    Priority: 4
  - Regex: 'boost/*'
    Priority: 3
  - Regex: '^<.*'
    Priority: 2
  - Regex: '.*'
    Priority: 1

IndentCaseLabels: true
IndentWidth: 2
SpacesBeforeTrailingComments: 2
TabWidth: 2
UseTab: Never
